
{% extends 'base.html.twig' %}
{% block admin_body %}
<div class="container">
      <div class="row">
           <div class="col-md-6">
                                             <div class="sidenav sidenav-hide">
                          <span><i class="fa fa-home home"></i><a href="{{ path('showSuperAdminDashboard', {'id': companyId}) }}">Home</a></span>
                          <span><i class="fa fa-list transactions"></i><a href="{{ path('showSuperAdminTransactionList', {'id': companyId}) }}" class="transaction">Transactions</a></span>
                          <span><i class="fa fa-newspaper-o reports"></i><a href="{{ path('showSuperAdminReports', {'id': companyId}) }}">Reports</a></span>
                          <span><i class="fa fa-cogs settings"></i><a href="{{ path('showSuperAdminUser', {'id': companyId}) }}">Settings</a></span>
                        </div>
           </div>
           <div class="col-md-6 col-users">
                    <div>
                           <input type="button" data-toggle="modal" data-target="#registerModal" class="btn btn-info" value="Add User"/> <input type="checkbox" style="margin-left:20px;"/> Show Disabled User
                  </div>

                           <div class="table-user">

                               <table class="table">
                                    <tr style="background-color:gray;">
                                      <th>#</th>
                                      <th>First Name</th>
                                      <th>Last Name</th>
                                      <th>Roles</th>
                                      <th></th>
                                    </tr>
                                    <tr>
                                      <td>1</td>
                                      <td>Eleazar</td>
                                      <td>Embuscado</td>
                                      <td>Super Administrator</td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td>2</td>
                                      <td>Justine</td>
                                      <td>Pleyto</td>
                                      <td>Accountant</td>
                                      <td></td>
                                    </tr>
                               </table>

                           </div>
           </div>
      </div>
</div>



<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form >
              <div class="container">
                    <div class="row">
                          <div class="col-md-12">
                            First Name:
                            <input type="text" id="fname" class="form-control" placeholder="First Name"/>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-md-12">
                            Last Name:
                            <input type="text" id="lname" class="form-control" placeholder="Last Name"/>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-md-12">
                            Email:
                            <input type="text" id="email" class="form-control" placeholder="Email"/>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-md-12">
                            Mobile Number:
                            <input type="text" id="mobile-number" class="form-control" placeholder="Mobile Number"/>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-md-12">
                            Type:
                            <input type="checkbox" class=""/> accountant<br/>
                            <input type="checkbox" class=""/> admin<br/>
                            <input type="checkbox" class=""/> purchaser
                          </div>
                    </div>
              </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="btn-register" type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="Modal_success" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered custom-modal-width">
        <div class="modal-content bg-white" style="border: none; border-radius: 10px !important;">
            <div class="modal-header" style="border-bottom: 0; padding-bottom: 0;">
                <button type="button" class="close modal_close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body p-4 modal_padding mb-modal-padding">
                <div class="row">
                    <div class="col-sm-1 mb-alert">
                        <i class="fa fa-check-circle" style="color:green;"></i>
                    </div>
                    <div class="col-sm mb-alert my-auto">
                        <p class="mb-p custom-modal-text" style="margin-top: 15px; font-size: 14px; line-height: 17px;">The user are created successfully.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal_padding" style="background-color: #f9f9f9; border-top: 0; border-radius: 0 0 10px 10px !important;">
                <button type="button" class="btn btn-lg custom-pricing-btn custom-modal-btn" data-dismiss="modal">CONFIRM</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="Modal_error" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered custom-modal-width">
        <div class="modal-content bg-white" style="border: none; border-radius: 10px !important;">
            <div class="modal-header" style="border-bottom: 0; padding-bottom: 0;">
                <button type="button" class="close modal_close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body p-4 modal_padding mb-modal-padding">
                <div class="row">
                    <div class="col-sm-1 mb-alert">
                        <i class="fa fa-exclamation-square" style="color:red;"></i>
                    </div>
                    <div class="col-sm mb-alert my-auto">
                        <p class="mb-p custom-modal-text" style="margin-top: 15px; font-size: 14px; line-height: 17px;">ERROR!!!<br/>This are the possible error you may check:
                          <ul>
                            <li>The first name and last name are already exist</li>
                            <li>You entered information with exclamation marks</li>
                          </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal_padding" style="background-color: #f9f9f9; border-top: 0; border-radius: 0 0 10px 10px !important;">
                <button type="button" class="btn btn-lg custom-pricing-btn custom-modal-btn" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
      $('document').ready(function(){

        $('.hamburger').click(function(){

              $('.sidenav').toggle("slide",{ direction: "left"},1000);
        });

        $('#btn-register').click(function(e){
          e.preventDefault();
          $.ajax({
            type: "POST",
            url: "{{ url('superAdminNewUser')}}",
            data: {
                fname: $('#fname').val(),
                lname: $('#lname').val(),
                email: $('#email').val(),
                phonenumber: $('#mobile-number').val(),
            },
            success: function(result) {
               $('#registerModal').modal('hide');
               $('#Modal_success').modal('show');
            },
            error: function(result) {
              $('#registerModal').modal('hide');
              $('#Modal_error').modal('show');
            }
            });
        });
    });
</script>

{% endblock %}
