
{% extends 'base.html.twig' %}
{% block admin_body %}
<div class="container">
    <div class="row">
         <div class="col-md-6">
                               <div class="sidenav sidenav-hide">
                    <span><i class="fa fa-home home"></i><a href="{{ path('showSuperAdminDashboard', {'id': companyId}) }}">Home</a></span>
                    <span><i class="fa fa-list transactions"></i><a href="{{ path('showSuperAdminTransactionList', {'id': companyId}) }}" class="transaction">Transactions</a></span>
                    <span><i class="fa fa-newspaper-o reports"></i><a href="{{ path('showSuperAdminReports', {'id': companyId}) }}">Reports</a></span>
                    <span><i class="fa fa-cogs settings"></i><a href="{{ path('showSuperAdminUser', {'id': companyId}) }}">Settings</a></span>
                  </div>
         </div>
         <div class="col-md-6 col-transactions">
          <i class="fa fa-calendar" style="font-size:20px;"></i>
     <div class="select-box-transactionlist">
               <select name="types" value="">
                 <option value="1">All transaction Type</option>
                 <option value="2">Cash</option>
                 <option value="3">Check</option>
                 <option value="4">Check Request</option>
                 <option value="5">Credit Card</option>
                 <option value="6">Invoice</option>
                 <option value="7">Reimbursement</option>
               </select>
               <select name="submitters" value="">
                 <option value="1">All Submitters</option>
                 <option value="2">Harold O'campo</option>
                 <option value="3">David Buck</option>
                 <option value="4">Krista Phillips</option>
               </select>
               <select name="status" value="">
                 <option value="1">All Status</option>
                 <option value="2">New</option>
                 <option value="3">Reviewed</option>
                 <option value="4">Approved</option>
                 <option value="5">Exported</option>
               </select>
     </div>
     <div class="col-table-transactions">
         <table class="table">
             <tr style="background-color:gray;">
               <th>Transaction Date</th>
               <th>Transaction Type</th>
               <th>Submitter</th>
               <th>Status</th>
               <th>Amount<br/>$700.00</th>
             </tr>
             <tr>
               <td>04/20/2020</td>
               <td>Credit Card</td>
               <td>David Buck</td>
               <td>Reviewed</td>
               <td>$100.00</td>
             </tr>
             <tr>
               <td>04/20/2020</td>
               <td>Credit Card</td>
               <td>David Buck</td>
               <td>Reviewed</td>
               <td>$100.00</td>
             </tr>
             <tr>
               <td>04/20/2020</td>
               <td>Credit Card</td>
               <td>David Buck</td>
               <td>Reviewed</td>
               <td>$100.00</td>
             </tr>
             <tr>
               <td>04/20/2020</td>
               <td>Credit Card</td>
               <td>David Buck</td>
               <td>Reviewed</td>
               <td>$100.00</td>
             </tr>
             <tr>
               <td>04/20/2020</td>
               <td>Credit Card</td>
               <td>David Buck</td>
               <td>Reviewed</td>
               <td>$100.00</td>
             </tr>
             <tr>
               <td>04/20/2020</td>
               <td>Credit Card</td>
               <td>David Buck</td>
               <td>Reviewed</td>
               <td>$100.00</td>
             </tr>
             <tr>
               <td>04/20/2020</td>
               <td>Credit Card</td>
               <td>David Buck</td>
               <td>Reviewed</td>
               <td>$100.00</td>
             </tr>
         </table>
     </div>
         </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
      $('document').ready(function(){

        $('.hamburger').click(function(){

              $('.sidenav').toggle("slide",{ direction: "left"},1000);
        });
    });
</script>

{% endblock %}
