
{% extends 'base.html.twig' %}
{% block admin_body %}
<div class="container">
      <div class="row">
            <div class="col-md-6">
                                     <div class="sidenav sidenav-hide">
                      <span><i class="fa fa-home home"></i><a href="{{ path('showSuperAdminDashboard', {'id': companyId}) }}">Home</a></span>
                      <span><i class="fa fa-list transactions"></i><a href="{{ path('showSuperAdminTransactionList', {'id': companyId}) }}" class="transaction">Transactions</a></span>
                      <span><i class="fa fa-newspaper-o reports"></i><a href="{{ path('showSuperAdminReports', {'id': companyId}) }}">Reports</a></span>
                      <span><i class="fa fa-cogs settings"></i><a href="{{ path('showSuperAdminUser', {'id': companyId}) }}">Settings</a></span>
                    </div>
            </div>
            <div class="col-md-6">
                                 <ul class="reports-list">
                                 <li>Reports</li>
                                       <ul style="list-style:none;">
                                         <li>Transactions</li>
                                            <ul style="list-style:none;">
                                                <li><a href="#" style="text-decoration:none;color:black;">All transactions</a></li>
                                                <li><a href="#" style="text-decoration:none;color:black;">Transactions by Status</a></li>
                                                <li><a href="#" style="text-decoration:none;color:black;">Transactions by Submitter</a></li>
                                                <li><a href="#" style="text-decoration:none;color:black;">Transactions by type</a></li>
                                            </ul>
                                       </ul>
                                   </ul>
            </div>
      </div>
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    $('document').ready(function(){

        $('.hamburger').click(function(){

              $('.sidenav').toggle("slide",{ direction: "left"},1000);
        });
    });
</script>



{% endblock %}
