.sidenav {
      width: 280px;
    z-index: 1;
    top: 66px;
    background-color: white;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: 66px;
    margin-left:-76px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.sidenav a{
  font-size: 15px;
padding-left: 102px;
margin-top: -7px;
}

.transaction{
  margin-left:-19px;
}



.sidenav i{
position: relative;
margin-left: 90px;
font-size: 35px;
padding: 20px;
border-radius: 13px;
margin-top:30px;
color:white;
}

.sidenav i.home{
  background-color:black;
}

.sidenav i:hover{
  padding:25px;
  cursor:pointer;
}

.sidenav i.transactions{
  background-color:blue;
}

.sidenav i.reports{
  background-color:green;
}

.sidenav i.settings{
  background-color:gray;
}

.main{
height: 500px;
width: 1000px;
margin-top: -477px;
margin-left: 282px;
padding-left:123px;
}

.container-admin{
  background-color:gray;
}



.sidenav-hide{
  display:none;
}
.top-nav-button{
  color: white;
position: absolute;
font-size: 25px;
margin-top: 22px;
margin-left: -64px;
}
.top-nav-button p{
  margin-top: -24px;
  margin-left: 30px;
  font-size: 16px;
}
/* USERS PAGE */
.col-users{
  margin-top:130px;
  margin-left:-200px;
}
.table-user{
  background-color:white;
  padding:13px;
  margin-top:20px;
}
/* END USERS PAGE */
/* TRANSACTIONS PAGE **/
.col-table-transactions{
  background-color:white;
  margin-top:20px;
  padding:23px;
}
.col-transactions{
  margin-top: 116px;
  margin-left: -165px;
}
/* END TRANSACTIONS PAGE*/
/** REPORTS PAGE**/
.reports-list{
   list-style:none;
   margin-top: 135px;
   margin-left: -190px;
}

/** END REPORTS PAGE**/
/** media queries **/
/*
  IPAD x
*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){



}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

/* TOP NAV HEADER */
  .top-nav-button{
     margin-left:-3px;
  }

  .top-nav-button p{
    font-size:11px;
    margin-top:-18px;
    margin-left:13px;
  }
/* END TOP NAV HEADER */
  .sidenav{
    width:431px;
    margin-top:115px;
  }
  .sidenav span{
      margin-left:100px;
  }
  .sidenav a{
    padding-left:205px;
  }
  .col-users{
    margin-left:-8px;
    margin-top:154px;
  }
  .col-transactions{
    margin-top:130px;
    margin-left:-10px;
  }
  .col-table-transactions table th{
      font-size:10px;
  }

  .col-table-transactions table td{
      font-size:8px;
  }

  .reports-list{
    margin-top: 160px;
    margin-left: -60px;
  }
}
